<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>KIDDOEVENT</title>
        
        <!--Rena Custom CSS-->
        <link href="style/test.css" rel="stylesheet">
        <!--From Bootstrap website CSS-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>

  <body>
    <header>
        <!--Navigation bar-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <!-- Container wrapper -->
            <div class="container-fluid">
               <!-- Navbar brand -->
              <a class="navbar-brand mt-2 mt-lg-0" href="index.html">
                <img src="img/Logo.png" height="25" alt="KIDDOEVENT Logo"
                loading="lazy" />KIDDOEVENT
              </a>
    
              <!-- Toggle button -->
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
    
    
    
                <!-- Collapsible wrapper -->
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                 
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home</a>
                   </li>
                  <li class="nav-item">
                    <a class="nav-link" href="EventDetail.html">Event Listing</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="Eventupdate.html">Create Event</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="history.html">Booking History</a>
                  </li>
                  <!-- Search fields -->
                  <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search Events" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                  </form>
    
                </ul>
                <!-- Right links -->
                
              </div>
    
              
              <!-- Collapsible wrapper -->
    
    
            </div>
            <!-- Container wrapper -->
          </nav>
    
      </header>
    <main>

        <div class="container mt-5">
            <h1>First 5 Forever Queensland Storytime - Stone Corner Library</h1>
            
            <!-- Image Slideshow (Carousel) -->
            <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="img/Hero/E_1.jpg" class="d-block w-100" alt="Image 1">
                    </div>
                    <div class="carousel-item">
                        <img src="img/Hero/F_1.jpg" class="d-block w-100" alt="Image 2">
                    </div>
                    <div class="carousel-item">
                        <img src="img/Hero/H_1.jpg" class="d-block w-100" alt="Image 2">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#imageCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#imageCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </a>
            </div>
            
            <!-- Event Details Display-->
            <div class="mt-4">
                <h2 style="font-weight: bold;">Date</h2>
                <p>12 July, 2024</p>
                <h2 style="font-weight: bold;">Time</h2>
                <p>4pm to 7pm</p>
                <h2 style="font-weight: bold;">Location</h2>
                <div id="map" class="map-placeholder">
                    <!-- Placeholder for the map -->
                    Map will be displayed here.
                </div>

                <h2 style="font-weight: bold;">Event Category</h2>
                <p>Classroom</p>
                
                <h2 style="font-weight: bold;">Event Description</h2>
                <p>Meet other parents and toddlers for a fun session of singing, clapping and dancing. Learn action rhymes 
                    and songs which will help your child’s pre-literacy, communication, language and social skills. Ideal for 
                    babies and toddlers aged 1-2 years.The First 5 Forever initiative is funded by the Queensland Government.
                </p>

                <h2 style="font-weight: bold;">Ticket Remaining</h2>
                <p>30</p>
                
                <h2 style="font-weight: bold;">Ticket Price</h2>
                <p>$40</p>
              
            </div>
        </div>

        <!--User purchase Event-->
        <section id="purchase-event" class="purchase-event">
            <div class="container" data-aos="fade-up">
                <h2>Event Ordering</h2>
                <div class="row">
                    <div class="col-md-8 offset-md-2 text-center">
                        <p style="color:darkmagenta;">
                            Please complete all fields
                        </p>
                    </div>
                </div>

                <form action="" method="post" role="form">
                <div class="row">
                    <div class="col-lg-4 col-md-6 form-group">
                        <label for="date" class="form-label">Event Date </label>
                        <input type="date" name="date" class="form-control" id="date" >
                    </div>
                    <div class="col-lg-4 col-md-6 form-group">
                        <label for="starttime" class="form-label">Event Start Time</label>
                        <input type="time" class="form-control" name="starttime" id="starttime" >
                    </div>
                    <div class="col-lg-4 col-md-6 form-group">
                        <label for="finishtime" class="form-label">Event Finish Time </label>
                        <input type="time" class="form-control" name="finishtime" id="finishtime" >
                    </div>
                    <div class="col-lg-4 col-md-6 form-group">
                        <label for="location" class="form-label">Event Location </label>
                        <input type="text" class="form-control" name="location" id="location" placeholder="Number and Road">
                    </div>
                    
                    <div class="col-lg-4 col-md-6 form-group">
                        <label for="maxticket" class="form-label">Number Of Event Ticket(s) ordered</label>
                        <input type="number" class="form-control" name="maxticket" id="maxticket" placeholder="1">
                    </div>

                    <div class="col-lg-4 col-md-6 form-group">
                        <label for="Totoalprice" class="form-label">Total Price (AUD$ and GST included)</label>
                        <input type="number" class="form-control" name="Totoalprice" id="Totoalprice" placeholder="40">
                    </div>

                </div>


                <button type="submit" class="btn btn-warning float-right mt-3">Update Total Payment</button>
                </form>
            </div>
        </section>

        <section id="purchase-event" class="purchase-event">
                <div class="container pt-2" data-aos="fade-up">
                    <h2>Payment Method</h2>
    
            <form action="" method="post" role="form">
            <div class="row">
            <div class="my-3">
                <div class="form-check">
                  <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked required>
                  <label class="form-check-label" for="credit">Credit card</label>
                </div>
                <div class="form-check">
                  <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required>
                  <label class="form-check-label" for="debit">Debit card</label>
                </div>
                <div class="form-check">
                  <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required>
                  <label class="form-check-label" for="paypal">PayPal</label>
                </div>
              </div>

              <div class="row gy-3">
                <div class="col-md-6">
                  <label for="cc-name" class="form-label">Name on card</label>
                  <input type="text" class="form-control" id="cc-name" placeholder="" required>
                  <small class="text-body-secondary">Full name as displayed on card</small>
                  <div class="invalid-feedback">
                    Name on card is required
                  </div>
                </div>
    
                <div class="col-md-6">
                  <label for="cc-number" class="form-label">Credit card number</label>
                  <input type="text" class="form-control" id="cc-number" placeholder="" required>
                  <div class="invalid-feedback">
                    Credit card number is required
                  </div>
                </div>
    
                <div class="col-md-3">
                  <label for="cc-expiration" class="form-label">Expiration</label>
                  <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                  <div class="invalid-feedback">
                    Expiration date required
                  </div>
                </div>
    
                <div class="col-md-3">
                  <label for="cc-cvv" class="form-label">CVV</label>
                  <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                  <div class="invalid-feedback">
                    Security code required
                  </div>
                </div>
              </div>
    
              <hr class="my-4">
    
              <button class="w-100 btn btn-warning btn-lg" type="submit">Submit Payment</button>
            </form>
          </div>


        </section>



                <!-- Table Reservation Form -->
                <section id="event-comment" class="event-comment">
                    <div class="container mt-4" data-aos="fade-up">
                        <h2>Event Comment</h2>
                        <div class="row">
                            <div class="col-md-8 offset-md-2 text-center">
                                <p style="color:darkmagenta;">
                                    We welcome relevant, respectful comments.
                                </p>
                            </div>
                        </div>
        
                        <form action="" method="post" role="form">
                        
                        <div class="form-group">
                            <label for="eventcomments" class="form-label">User Event Comments</label>
                            <textarea class="form-control" name="eventcomments" placeholder="Event Comments"></textarea>
                            <p style="color:darkmagenta;">
                                 Please read our Comment Policy before commenting.
                            </p>    
                        </div>
        
                        <button type="submit" class="btn btn-primary float-right mt-3">Post a Comments</button>
                        </form>
                    </div>
                </section>

<!--User Comments section-->
<section class="UserComment-slider bg-light">
    <div id="UserComment_Carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="col-12">
            <h3 class="fw-normal text-secondary text-center text-uppercase">Latest Users Comment</h3>
        </div>
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#UserComment_Carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#UserComment_Carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#UserComment_Carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner py-5 text-center">
            <div class="carousel-item active">
                <i class="bi bi-chat-right-quote fs-1 text-danger"></i>                    
                <figure class="text-cent col-md-6 offset-md-3 mt-4">
                    <blockquote class="blockquote">
                        <p>Kids share their stories through play and observation</p>
                    </blockquote>
                    <figcaption class="blockquote-footer mt-2">Milton Young</figcaption>
                </figure>
            </div>
            <div class="carousel-item">
                <i class="bi bi-chat-right-quote fs-1 text-danger"></i>
                <figure class="col-md-6 offset-md-3 mt-4">
                    <blockquote class="blockquote">
                        <p>Baby can't wait to go back for another Rhyme Time</p>
                    </blockquote>
                    <figcaption class="blockquote-footer mt-2">John Citizen</figcaption>
                </figure>
            </div>
            <div class="carousel-item">
                <i class="bi bi-chat-right-quote fs-1 text-danger"></i>
                <figure class="col-md-6 offset-md-3 mt-4">
                    <blockquote class="blockquote">
                        <p>Baby play time is awesome</p>
                    </blockquote>
                    <figcaption class="blockquote-footer mt-2">Disney Hill</figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>

<div class="album py-5 bg-body-tertiary">
    <div class="container">
      <h2>Similar Events</h2>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        






        <div class="col">
          <div class="card shadow-sm">
            <div class="card-header" style="color: darkgreen;">Open</div>
            <img src="img/Park/d_1.jpg" class="card-img-top"  alt="Fissure in Sandstone"/>                
            <div class="card-body">
              <h5 class="card-title">Rhythm Room</h5>
              <p class="card-text">Calling all move busters and music lovers! Get your dancing shoes on to get rhythmic these 
                school holidays with our FREE interactive workshops. Kids of all ages are invited to join in beginner friendly 
                15-minute dance workshops and personalise their own record art with groovy colours.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <small class="text-body-secondary">9 tickets left</small>
              </div>
            </div>
            <div class="card-footer text-center">1 day to go</div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <div class="card-header" style="color: darkgreen;">Open</div>
            <img src="img/Park/e_1.jpg" class="card-img-top"  alt="Fissure in Sandstone"/>                
            <div class="card-body">
              <h5 class="card-title">Park Play: September</h5>
              <p class="card-text">Spring into school holidays at Victoria Park with animal themed activities the kids will love!
                On Mondays, Tuesdays and Wednesday from 18-27 September 2023, 
                9am-1pm each day, Park Play will provide kids with fun experiences and performances 
                that will keep them engaged, while keeping parents entertained too.
              </p>                  
              <div class="d-flex justify-content-between align-items-center">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <small class="text-body-secondary">9 tickets left</small>
              </div>
            </div>
            <div class="card-footer text-center">2 days to go</div>
          </div>
        </div>





        <div class="col">
          <div class="card shadow-sm">
            <div class="card-header" style="color: darkgreen;">Open</div>
            <img src="img/Park/h_1.jpg" class="card-img-top"  alt="Fissure in Sandstone"/>                
            <div class="card-body">
              <h5 class="card-title">Park Play: September</h5>
              <p class="card-text">Spring into school holidays at Victoria Park with animal themed activities the kids will love!
                On Mondays, Tuesdays and Wednesday from 18-27 September 2023, 
                9am-1pm each day, Park Play will provide kids with fun experiences and performances 
                that will keep them engaged, while keeping parents entertained too.
              </p>                  
              <div class="d-flex justify-content-between align-items-center">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <small class="text-body-secondary">9 tickets left</small>
              </div>
            </div>
            <div class="card-footer text-center">2 days to go</div>
          </div>
        </div>



      </div>
    </div>
  </div>


</main>

<footer class="my-5 pt-5 text-body-secondary text-center text-small">
    <p class="mb-1">&copy; 2023–2023 KIDDOEVENT Pty Ltd</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

</body>
</html>