<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>KIDDOEVENT</title>
      
      <!--Rena Custom CSS-->
      <link href="style/test.css" rel="stylesheet">
      <!--From Bootstrap website CSS-->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <header>
      <!--Navigation bar-->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- Container wrapper -->
        <div class="container-fluid">
           <!-- Navbar brand -->
          <a class="navbar-brand mt-2 mt-lg-0" href="index.html">
            <img src="img/Logo.png" height="25" alt="KIDDOEVENT Logo"
            loading="lazy" />KIDDOEVENT
          </a>

          <!-- Toggle button -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>



            <!-- Collapsible wrapper -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
             
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="EventDetail.html">Event Listing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Eventupdate.html">Create Event</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="history.html">Booking History</a>
              </li>
              <!-- Search fields -->
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search Events" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>

            </ul>
            <!-- Right links -->
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
              <ul class="navbar-nav">
                  <li class="nav-item">
                      <a class="nav-link" href="#">Register</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Login</a>
                  </li>
              </ul>
           </div>
          </div>

          
          <!-- Collapsible wrapper -->


        </div>
        <!-- Container wrapper -->
      </nav>




      <!--CarouslSlider for home page-->
      <div id="CarouselSlider" class="carousel carousel-dark slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#CarouselSlider" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#CarouselSlider" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#CarouselSlider" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#CarouselSlider" data-bs-slide-to="3" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
                <img src="img/Hero/A_1.jpg" class="d-block w-100" alt="Carousel One">
                <div class="carousel-caption text-white d-none d-md-block col-6">
                    <h3 class="fs-1">Time to release kids energy?</h3>
                    <a href="#Eventsection" class="btn btn-warning mt-3">Click To Learn More</a>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="img/Hero/B_1.jpg" class="d-block w-100" alt="Carousel Two">
                <div class="carousel-caption text-white d-none d-md-block col-6">
                    <h3 class="fs-1">What is your local park like?</h3>
                    <a href="#Eventsection" class="btn btn-warning mt-3">Click To Learn More</a>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="img/Hero/C_1.jpg" class="d-block w-100" alt="Carousel Three">
                <div class="carousel-caption text-white d-none d-md-block col-6">
                    <h3 class="fs-1">Want to let them experiece more?</h3>
                    <a href="#Eventsection" class="btn btn-warning mt-3">Click To Learn More</a>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="img/Hero/D_1.jpg" class="d-block w-100" alt="Carousel Three">
                <div class="carousel-caption text-white d-none d-md-block col-6">
                    <h3 class="fs-1">Allow them to be future star?</h3>
                    <a href="#Eventsection" class="btn btn-warning mt-3">Click To Learn More</a>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#CarouselSlider" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#CarouselSlider" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
      </div>
    </header>

    <!--Begin main section-->
    <main>
      <div class="album py-5 bg-body-tertiary">
        <div class="container">
          <a id="Eventsection"></a>
    
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            
            <div class="col">
              <div class="card shadow-sm">
                <div class="card-header" style="background-color: aquamarine;">Featured</div>
                <img src="img/Park/a_1.jpg" class="card-img-top" alt="Fissure in Sandstone"/>                
                <div class="card-body">
                  <h5 class="card-title">SEQ Explorer</h5>
                  <p class="card-text">Agents of Discovery is a free mobile gaming platform that uses augmented reality to 
                    create Missions- think Pokémon Go for parks and education!! The Explorer Campaign brings together many 
                    partners in the Southeast Queensland region, which all have free Missions for families to play.
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <small class="text-body-secondary">11 tickets left</small>
                  </div>
                </div>
                <div class="card-footer text-center">2 days to go</div>
              </div>
            </div>

            <div class="col">
              <div class="card shadow-sm">
                <div class="card-header" style="background-color: aquamarine;">Featured</div>
                <img src="img/Park/b_1.jpg" class="card-img-top" alt="Fissure in Sandstone"/>                
                <div class="card-body">
                  <h5 class="card-title">Park Play: September</h5>
                  <p class="card-text">Spring into school holidays at Victoria Park with animal themed activities the kids will love!
                    On Mondays, Tuesdays and Wednesday from 18-27 September 2023, 
                    9am-1pm each day, Park Play will provide kids with fun experiences and performances 
                    that will keep them engaged, while keeping parents entertained too.
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <small class="text-body-secondary">9 tickets left</small>
                  </div>
                </div>
                <div class="card-footer text-center">2 days to go</div>
              </div>
            </div>

            <div class="col">
              <div class="card shadow-sm">
                <div class="card-header" style="background-color: darkred; color: burlywood;">Sold Out</div>
                <img src="img/Park/c_1.jpg" class="card-img-top" height="80%" alt="Fissure in Sandstone"/>                
                <div class="card-body">
                  <h5 class="card-title">Kids Art Trail</h5>
                  <p class="card-text">Drop into Redcliffe Art Gallery and partake in an exciting journey through the Jacaranda Acquisitive Drawing Award 2022 exhibition.
                    Discover the kids art labels. Fun-filled activities that guide children along a trail, where they can explore their creativity.
                    Kids will enjoy learning about storytelling. 
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <small class="text-body-secondary">0 ticket left</small>
                  </div>
                </div>
                <div class="card-footer text-center">5 days to go</div>
              </div>
            </div>
    
            <div class="col">
              <div class="card shadow-sm">
                <div class="card-header" style="color: darkgreen;">Open</div>
                <img src="img/Park/d_1.jpg" class="card-img-top"  alt="Fissure in Sandstone"/>                
                <div class="card-body">
                  <h5 class="card-title">Rhythm Room</h5>
                  <p class="card-text">Calling all move busters and music lovers! Get your dancing shoes on to get rhythmic these 
                    school holidays with our FREE interactive workshops. Kids of all ages are invited to join in beginner friendly 
                    15-minute dance workshops and personalise their own record art with groovy colours.
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <small class="text-body-secondary">9 tickets left</small>
                  </div>
                </div>
                <div class="card-footer text-center">1 day to go</div>
              </div>
            </div>

            <div class="col">
              <div class="card shadow-sm">
                <div class="card-header" style="color: darkgreen;">Open</div>
                <img src="img/Park/e_1.jpg" class="card-img-top"  alt="Fissure in Sandstone"/>                
                <div class="card-body">
                  <h5 class="card-title">Park Play: September</h5>
                  <p class="card-text">Spring into school holidays at Victoria Park with animal themed activities the kids will love!
                    On Mondays, Tuesdays and Wednesday from 18-27 September 2023, 
                    9am-1pm each day, Park Play will provide kids with fun experiences and performances 
                    that will keep them engaged, while keeping parents entertained too.
                  </p>                  
                  <div class="d-flex justify-content-between align-items-center">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <small class="text-body-secondary">9 tickets left</small>
                  </div>
                </div>
                <div class="card-footer text-center">2 days to go</div>
              </div>
            </div>

            <div class="col">
              <div class="card shadow-sm">
                <div class="card-header" style="background-color: darkkhaki; color: darkred;">Low availability</div>
                <img src="img/Park/f_1.jpg" class="card-img-top"  alt="Fissure in Sandstone"/>                
                <div class="card-body">
                  <h5 class="card-title">SEQ Explorer</h5>
                  <p class="card-text">Agents of Discovery is a free mobile gaming platform that uses augmented reality to 
                    create Missions- think Pokémon Go for parks and education!! The Explorer Campaign brings together many 
                    partners in the Southeast Queensland region, which all have free Missions for families to play.
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <small class="text-body-secondary">2 tickets left</small>
                  </div>
                </div>
                <div class="card-footer text-center">7 days to go</div>
              </div>
            </div>
    
            <div class="col">
              <div class="card shadow-sm">
                <div class="card-header" style="color: darkgreen;">Open</div>
                <img src="img/Park/g_1.jpg" class="card-img-top"  alt="Fissure in Sandstone"/>                
                <div class="card-body">
                  <h5 class="card-title">SEQ Explorer</h5>
                  <p class="card-text">Agents of Discovery is a free mobile gaming platform that uses augmented reality to 
                    create Missions- think Pokémon Go for parks and education!! The Explorer Campaign brings together many 
                    partners in the Southeast Queensland region, which all have free Missions for families to play.
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <small class="text-body-secondary">9 tickets left</small>
                  </div>
                </div>
                <div class="card-footer text-center">2 days to go</div>
              </div>
            </div>

            <div class="col">
              <div class="card shadow-sm">
                <div class="card-header" style="color: darkgreen;">Open</div>
                <img src="img/Park/h_1.jpg" class="card-img-top"  alt="Fissure in Sandstone"/>                
                <div class="card-body">
                  <h5 class="card-title">Park Play: September</h5>
                  <p class="card-text">Spring into school holidays at Victoria Park with animal themed activities the kids will love!
                    On Mondays, Tuesdays and Wednesday from 18-27 September 2023, 
                    9am-1pm each day, Park Play will provide kids with fun experiences and performances 
                    that will keep them engaged, while keeping parents entertained too.
                  </p>                  
                  <div class="d-flex justify-content-between align-items-center">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <small class="text-body-secondary">9 tickets left</small>
                  </div>
                </div>
                <div class="card-footer text-center">2 days to go</div>
              </div>
            </div>

            <div class="col">
              <div class="card shadow-sm">
                <div class="card-header" style="color: darkgreen;">Open</div>
                <img src="img/Park/i_1.jpg" class="card-img-top"  alt="Fissure in Sandstone"/>                
                <div class="card-body">
                  <h5 class="card-title">Rhythm Room</h5>
                  <p class="card-text">Calling all move busters and music lovers! Get your dancing shoes on to get rhythmic these 
                    school holidays with our FREE interactive workshops. Kids of all ages are invited to join in beginner friendly 
                    15-minute dance workshops and personalise their own record art with groovy colours.
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <small class="text-body-secondary">9 tickets left</small>
                  </div>
                </div>
                <div class="card-footer text-center">2 days to go</div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </main>

    <footer class="my-5 pt-5 text-body-secondary text-center text-small">
      <p class="mb-1">&copy; 2023–2023 KIDDOEVENT Pty Ltd</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Support</a></li>
      </ul>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
  </body>
</html>